.panel {
    display: grid;
    grid-template-rows: 100%;
    height: 100%;
    width: 100%;
}

.panel__info {
    background: #2c3051;
    grid-area: info;
    position: relative;
}

.panel__info.is-hide {
    display: none;
}

.panel__info.is-show {
    display: block;
}

.panel__info--home {
    display: block;
}

.panel__info--about-me,
.panel__info--my-resume,
.panel__info--my-portfolio {
    display: none;
}

.panel__close {
    background: transparent;
    border: none;
    color: #f2f2f2;
    font-size: 2.5rem;
    position: absolute;
    right: 50px;
    top: 25px;
}

.panel__close:focus {
    outline: none;
}

.panel__close:hover {
    color: #d9d9d9;
    cursor: pointer;
}

.panel__picture {
    grid-area: picture;
    height: 100%;
    object-fit: cover;
    object-position: 35%;
    width: 100%;
}

.panel__bar {
    padding: 1.5rem 1.25rem;
}

.panel__bar___icon {
    color: #ffbf8d;
    font-size: 2.5rem;
}

.panel__bar___icon--about-me {
    color: #fa709a;
}

.panel__bar___icon--my-resume {
    color: #f6d365;
}

.panel__bar___icon--my-portfolio {
    color: #43e97B;
}

.panel__welcome {
    background: #363b5f;
    height: calc(100% - 88px);
    float: left;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 75px;
}

.panel__welcome___text {
    color: #fdfdfd;
    font-size: 1.5rem;
    left: 50%;
    letter-spacing: 7px;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    white-space: nowrap;
}

.panel__welcome___text-alt {
    color: #ffbf8d;
}

.panel__welcome___text-alt--about-me {
    color: #fa709a;
}

.panel__welcome___text-alt--my-resume {
    color: #f6d365;
}

.panel__welcome___text-alt--my-portfolio {
    color: #43e97B;
}

.panel__header {
    float: left;
    text-align: center;
    width: calc(100% - 75px);
}

.panel__title {
    color: #fdfdfd;
    font-weight: bold;
    line-height: 1.75;
    text-transform: uppercase;
}

.panel__title-alt {
    color: #07fff7;
}

.panel__subtitle {
    color: #07fff7;
    font-weight: 100;
}

.panel__subtitle::before {
    content: 'trabalho como';
    color: #fdfdfd;
    font-size: 1rem;
    font-weight: 100;
    margin-right: .5rem;
    vertical-align: middle;
}

.panel__body {
    float: left;
    height: calc(100% - 97px - 88px);
    overflow-y: scroll;
    width: calc(100% - 75px);
}

.panel__body--higther {
    height: calc(100% - 97px - 70px);
}

.panel__section {
    color: #fdfdfd;
    font-size: 1.35rem;
    font-weight: 100;
    position: relative;
}

.panel__section::after {
    border-radius: 3px;
    bottom: -10px;
    content: '';
    height: 5px;
    left: 0;
    position: absolute;
    width: 50px;
}

.panel__section.panel__section--about-me::after {
    background: #fa709a;
}

.panel__section.panel__section--my-resume::after {
    background: #f6d365;
}

.panel__section.panel__section--my-portfolio::after {
    background: #43e97B;
}
